<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gamedev Canvas Workshop</title>
    <style>
      * { padding: 0; margin: 0; }
      canvas { background: #eee; display: block; margin: 0 auto; }
    </style>
</head>
<body>

<canvas id="myCanvas" width="480" height="320"></canvas>

<script>
  var canvas = document.getElementById("myCanvas");
  var ctx = canvas.getContext("2d");
  var x = canvas.width/2;
  var y = canvas.height - 30;
  var dx = 2;
  var dy = -2;
  var ballRadius = 10;

  // bien kiem soat thanh chan
  var paddleHeight = 10;
  var paddleWidth = 75;
  var paddleX = (canvas.width-paddleWidth)/2;
  // kiem soat huong di chuyen cua thanh chan
  var rightPressed = false;
  var leftPressed = false;

  // xay dung hang gach de pha
  var brickRowCount = 3;
  var brickColumnCount = 5;
  var brickWidth = 75;
  var brickHeight = 20;
  var brickPadding = 10;
  var brickOffestTop = 30;
  var brickOffestLeft = 30;

  var bricks = [];
  for (var c = 0; c < brickColumnCount; c++){
    bricks[c] = [];
    for (var r = 0; r < brickRowCount; r++){
      bricks[c][r] = { x: 0, y: 0, status: 1};
    }
  }
  var score = 0;

  //ham ve thanh chan
  function drawPaddle(){
    ctx.beginPath();
    ctx.rect(paddleX, canvas.height - paddleHeight, paddleWidth, paddleHeight);
     ctx.fillStyle = "#0095DD";
     ctx.fill();
    ctx.closePath();
  }
  // ham ve 1 qua bong
  function drawBall(){
    ctx.beginPath();
    ctx.arc(x, y, ballRadius, 0, Math.PI*2);
    ctx.fillStyle = "#0095DD";
    ctx.fill();
    ctx.closePath();

  }
  // ve cach vien gach
  function drawBricks(){
    for (var c= 0; c < brickColumnCount; c++){
      for (var r = 0; r < brickRowCount; r++){
        if (bricks[c][r].status == 1){
          var brickX = c*(brickWidth+brickPadding) + brickOffestLeft;
          var brickY = r*(brickHeight+brickPadding) + brickOffestTop;
          bricks[c][r].x = brickX;
          bricks[c][r].y = brickY;
          ctx.beginPath();
          ctx.rect(brickX, brickY, brickWidth, brickHeight);
          ctx.fillStyle = "#0095DD";
          ctx.fill();
          ctx.closePath();
        }
      }
    }
  }

  function draw(){
    // dong nay de xoa dau vet cua qua bong
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    drawBricks();
    drawBall();
    drawPaddle();
    drawScore();
    collisionDetection();
    // cham vao tuong ben trai va ben phai thi bat lai
    // - ballRadius la de 1 nua qua bong ko bi chim vao tuong trc khi nay lai
    if (x + dx > canvas.width-ballRadius || x + dx < ballRadius){
      dx = -dx;
    }
    // cham vao tuong o tren va duoi thi bat lai
    if (y + dy < ballRadius){
      dy = -dy;
    }else if (y + dy > canvas.height- ballRadius){
      if (x > paddleX && x < paddleX + paddleWidth){
        dy = -dy;
      }else{
        alert("GAME OVER");
        document.location.reload();
      }
    }
    if (rightPressed && paddleX < canvas.width-paddleWidth) {
      paddleX += 7;
    }
    else if (leftPressed && paddleX > 0) {
      paddleX -= 7;
    }
    x += dx;
    y += dy;
  }
  // kiem soat su kien luc co phim dc an
  document.addEventListener("keydown", keyDownHandler, false);
  document.addEventListener("keyup", keyUpHandler, false);
  // dieu khien mouse
  document.addEventListener("mousemove", mouseMoveHanlder, false);

  //ham thuc hien
  function keyDownHandler(e) {
    if(e.keyCode == 39) {
      rightPressed = true;
    }
    else if(e.keyCode == 37) {
      leftPressed = true;
    }
  }

  function keyUpHandler(e) {
    if(e.keyCode == 39) {
      rightPressed = false;
    }
    else if(e.keyCode == 37) {
      leftPressed = false;
    }
  }

  //ham bat su kien di chuyen con tro chuot
  function mouseMoveHanlder(e){
    var relativeX = e.clientX - canvas.offsetLeft;
    if (relativeX > 0 && relativeX < canvas.width){
      paddleX = relativeX - paddleWidth/2;
    }
  }
  // ham phat hien co va cham xay ra hay khong
  // neu co xay ra va cham thi doi status = 0(ko hien thi vien gach nua)
  function collisionDetection(){
    for(var c = 0; c < brickColumnCount; c++){
      for (var r = 0; r < brickRowCount; r++){
        var b = bricks[c][r];
        if (b.status == 1){
          if (x > b.x && x < b.x + brickWidth && y > b.y && y < b.y + brickHeight){
            dy = -dy;
            b.status = 0;
            score ++;
            if (score == brickColumnCount * brickRowCount){
              alert("YOU WIN, CONGRATULATIONS!");
              document.location.reload();
            }
        }
        }
      }
    }
  }

  function drawScore(){
    ctx.font = "16px Arial";
    ctx.fillStyle = "#0095DD";
    ctx.fillText("Score: " +score, 8, 20);
  }
  setInterval(draw, 10);
</script>

</body>
</html>
